img {
    cursor: pointer;
}

table tbody tr td img {
    padding-top: 2%;
    padding-left: 18%;
}

.users-page {
    padding-top: 90px;
    margin-left: 11%;
    margin-right: 16.3%;
}

.users-page__header {
    display: flex;
}

.users-page__header .users-page__header__buttons {
    padding: 10px 2% 5px 40%;
}

.users-page__header .users-page__header__buttons .card-btn100__buttons {
    width: auto !important;
    height: 60px !important;
}

.users-page__header .input-group {
    padding: 10px 2% 5px 5%;
}

.users-page__header .input-group img {
    padding-left: 2%;
}