.all-books-page-header {
    display: flex;
}

.all-books-page-header .input-group {
    padding: 15px 2% 10px 1% !important;
}

.all-books-page-header .input-group img {
    padding-left: 2%;
}

.all-books-page-header div h1 {
    padding-top: 10px;
}