.book-admin-header-page {
    display: flex;
}

.manage-button {
    margin-left: 70%;
    display: flex;
}

.manage-button .manage-button__item {
    padding-left: 5%;
    width: auto;
    height: 60px;
}
.manage-button .manage-button__item .card-btn100__buttons {
    width: auto!important;
    height: 60px;
}
