.last-action-top-left__message {
    width: 100%;
    color: white;
    position: fixed;
    top: 60px;
    background: black;
    height: 50px;
    border: black 1px solid;
    border-radius: 5px;
    opacity: 0.5;
}

.last-action-top-left__message p {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 8px;

}

.last-action-top-left__message_top {
    width: 73%;
    color: white;
    position: fixed;
    top: 0;
    background: black;
    height: 35px;
    border: black 1px solid;
    border-radius: 3px;
    opacity: 0.5;
}

.last-action-top-left__message_top p {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 3px;
}