/* COMPONENTS */
@import url("./profile/header.css");
@import url("./profile/sidemenu.css");
@import url("./profile/profileinfo.css");

/* PAGE */
.profile-page {
    padding-top: 90px;
    margin-left: 11%;
    margin-right: 16.3%;
}

.profile-menu-content-flex {
    display: flex;
}

.profile-side-content {
    width: 100%;
    padding-top: 35px;
    padding-left: 10%;
}